<template>
  <div class="about">
    <b-input-group>
      <b-input-group-prepend is-text>
        <b-icon icon="search" />
      </b-input-group-prepend>
      <b-form-input id="input" @input="onInput" type="text" v-model="search"/>
    </b-input-group>
    <b-overlay :show="busy" rounded="lg" opacity="0.6" >
      <template v-slot:overlay>
        <div class="d-flex align-items-center">
          <b-spinner v-if="search !== ''" variant="success" />
        </div>
      </template>
      <div v-if="search !== ''">
        <b-list-group v-for="(searchUser, index) in dataTest" :key="index">
          <b-list-group-item v-if="search !== searchUser.searchName" button @click="search = searchUser.searchName">
            <div class="searchResult">
              <b-avatar
                rounded="circle"
                :src="searchUser.searchAvatar.searchAvatar"
              />
              <p>
                {{ searchUser.searchName }}
              </p>
            </div>
          </b-list-group-item>
        </b-list-group>
      </div>
    </b-overlay>
  </div>
</template>

<script>
  import {
    BInputGroup,
    BInputGroupPrepend,
    BIcon,
    BFormInput,
    BListGroup,
    BListGroupItem,
    BAvatar,
    BSpinner,
    BOverlay,
  } from 'bootstrap-vue'
  import axios from 'axios'
  import '@/assets/styles.scss'

  export default {
    name: 'About',
    components: {
      BInputGroup,
      BIcon,
      BInputGroupPrepend,
      BFormInput,
      BListGroup,
      BListGroupItem,
      BAvatar,
      BSpinner,
      BOverlay,
    },
    data() {
      return {
        search: '',
        searchUsers: [],
        avatarUsers: [],
        busy: false,
        timeout: null,
      }
    },
    beforeMount() {
      axios
        .get('https://jsonplaceholder.typicode.com/users')
        .then((response) => {
          this.searchUsers = response.data.map((element) => {
            return {
              searchName: element.name,
            }
          })
          axios
            .get('https://jsonplaceholder.typicode.com/photos')
            .then((resp) => {
              this.avatarUsers = resp.data.map((element, index) => {
                if (index < response.data.length) {
                  return {
                    searchAvatar: element.url,
                  }
                }
              })
              this.avatarUsers = this.avatarUsers.filter((element) => {
                return element !== undefined
              })
              this.searchUsers.forEach((el, index) => {
                el.searchAvatar = this.avatarUsers[index]
              })
            })
        })
    },
    computed: {
      dataTest() {
        return this.searchUsers.filter((element) => {
          return (
            element.searchName
              .toLowerCase()
              .indexOf(this.search.toLowerCase()) > -1
          )
        })
      },
    },
    beforeDestroy() {
      this.clearTimeout()
    },
    methods: {
      clearTimeout() {
        if (this.timeout) {
          clearTimeout(this.timeout)
          this.timeout = null
        }
      },
      setTimeout(callback) {
        this.clearTimeout()
        this.timeout = setTimeout(() => {
          this.clearTimeout()
          callback()
        }, 500)
      },
      onHidden() {
        this.$refs.button.focus()
      },
      onInput() {
        this.busy = true
        this.setTimeout(() => {
          this.busy = false
        })
      },
    },
  }
</script>